---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import cn from '../utils/cn'
import { Languages } from '../i18n'

interface Props {
    aos?: string,
    project: CollectionEntry<'project'>
}

const { aos, project } = Astro.props
---

<article data-aos={aos} class="project">
    {
        project.data.link ? (
            <a target="_blank" href={project.data.link}>
                <Image
                    class={cn('rounded-3xl aspect-video object-cover shadow-md shadow-stone-800/50', project.data.link && 'hover:scale-[1.02] transition-all duration-500')}
                    src={project.data.image}
                    alt={project.data.title}
                />
            </a>
        ) : (
            <Image
                class={cn('rounded-3xl aspect-video object-cover shadow-md shadow-stone-800/50', project.data.link && 'hover:scale-[1.02] transition-all duration-500')}
                src={project.data.image}
                alt={project.data.title}
            />
        )
    }
    <div class="flex flex-col gap-2">
        <div class="flex justify-between items-baseline">
            <h3 class="text-2xl font-medium">{project.data.title}</h3>
            <p class="font-light">{project.data.type[Astro.currentLocale as Languages || Languages.English]}</p>
        </div>
        <p>{project.data.description[Astro.currentLocale as Languages || Languages.English]}</p>
        <div class="tags">
            {
                project.data.tags.map((tag) => {
                    return (
                        <a aria-label={tag} href={`/projects?tags=${tag}`} class="tag">
                            {tag}
                        </a>
                    )
                })
            }
        </div>
    </div>
</article>

<style>
    .project {
        @apply flex flex-col gap-4 transition-all duration-700 max-md:!translate-x-0;
        @apply md:shrink-0 md:basis-full;

        .tags {
            @apply flex gap-4 text-xs font-light;

            .tag {
                @apply py-1 px-3 rounded-full bg-clip-padding backdrop-filter backdrop-blur-md ring-2 ring-neutral-400/75 bg-neutral-400/25;
            }
        }
    }
</style>
